.info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
    height: 1.5rem;
    background-color: #fff;
}
.info-top .help{
    width: 2.1rem;
    font-size: 0.45rem;
    color: #292d33;
}
.info-top .my-info{
    font-weight: bold;
    font-size: 0.65rem;
    color: #292d31;
}