*{
    margin: 0;padding: 0;
}
#box{
    width: 300px; 
    background-color: black;
    height: 300px; 
    border: 1px solid black; 
    margin: 20px auto; 
    perspective: 300px;
    perspective-origin: right top;
}
.plane{
    width: 128px; 
    height: 128px; 
    margin: 128px auto; 
    position: relative; 
    transition: all 10s;
    transform-style: preserve-3d;
    transform-origin: left right -50px;
}
#box:hover .plane{
    transform: rotateY(360deg);
}
.side{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 128px;
    
}
#side1{
    background: white;
    border:  0.5px solid black;
} 
#side2{
    background: white;
    left: 128px;
    transform-origin: left;
    transform: rotateY(90deg);
    border:  0.5px solid black;
}  
#side3{
    background: white;
    left: -128px;
    transform-origin: right;
    transform: rotateY(-90deg);
    border:  0.5px solid black;
}
#side4{
    background: white;
    top: -64px;
    transform-origin:bottom;
    transform: translateZ(-128px) rotateY(180deg) rotateX(-45deg);
    border:  0.5px solid black;
    height: 64px;
}
#side5{
    background: white;
    top: 128px;
    transform-origin: top;
    transform: rotateX(-90deg);
    border: 0.5px solid black;
}
#side6{
    background: white;
    top: 0px;
    transform: translateZ(-128px) rotateY(180deg);
    border: 0.5px solid black;
}      
#side7{
    background: white;
    top: -64px;
    transform-origin:bottom;
    transform: rotateX(-45deg);
    border:  0.5px solid black;
    height: 64px;
}