html{
    color: #111;
    background: #fff;
}
body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6,
pre, code, form, fieldset, legend, input, button, textarea,
blockquote{
    margin: 0;
    padding: 0;
}
body, td, th{
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}
body{
    padding-top: 30px;
}
ul, ol{
    list-style: none;
}
a {
    cursor: pointer;
}
input, button, textarea, select {
    *font-size: 100%;
}
input{
    font-size: 12px;
}
input{
    margin-right: 3px;
    vertical-align: middle;
}
#anony-nav{
    width: 1080px;
    margin: 0 auto 25px;
}
#anony-nav .anony-nav-links{
    float: right;
    margin-top: 6px;
}
a:link {
    color: #37a;
    text-decoration: none;
}
a:visited{
    color: #666699;
    text-decoration: none;
}
#anony-nav .anony-nav-links li{
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin: 0 14px 0 0;
}
#anony-nav .anony-nav-links li a{
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 40px;
    height: 20px;
    overflow: hidden;
    margin: 0;
    line-height: 20em;
    outline: none;
    vertical-align: middle;
    background: transparent url(https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png)no-repeat 100% 100%;
    background-image: -webkit-image-set(url(https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) 1x, url(https://img3.doubanio.com/f/sns/82c3a65bdec3e60331a8dd5805bb842e76ac0c04/pics/sns/anony_home/anony_nav_logo@2x.png) 2x);
}
#anony-nav .anony-nav-links li .lnk-book{
    background-position: 0 0;
}
#anony-nav .anony-nav-links li .lnk-movie{
    background-position: -60px 0;
}
#anony-nav .anony-nav-links li .lnk-music{
    background-position: -120px 0;
}
#anony-nav .anony-nav-links li .lnk-events{
    background-position: -299px 0;
}
#anony-nav .anony-nav-links li .lnk-group{
    background-position: -180px 0;
}
#anony-nav .anony-nav-links li .lnk-read{
    background: transparent url(https://img3.doubanio.com/f/sns/f3ba00ef46f185989b70ac6841d9f4d67b6e3a25/pics/sns/anony_home/ic_read_home_nav.png) no-repeat 100% 100%;
    background-image: -webkit-image-set(url(https://img3.doubanio.com/f/sns/8536084688879cb1137e8efdff30e59614ff2f86/pics/sns/anony_home/anony_nav_logo.png) 1x, url(https://img3.doubanio.com/f/sns/82c3a65bdec3e60331a8dd5805bb842e76ac0c04/pics/sns/anony_home/anony_nav_logo@2x.png) 2x);
    background-size: cover;
}
#anony-nav .anony-nav-links li .lnk-fm{
    background-position: -241px 0;
}
#anony-nav .anony-nav-links li .lnk-market{
    width: 42px;
    background-position: -421px 0;
}
#anony-nav .anony-nav-links li .lnk-shijian{
    margin-bottom: 1px;
    background: transparent url(https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) no-repeat 100% 100%;
    background-image: url(https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) 1x, url(https://img3.doubanio.com/f/sns/b474dd402e4293943146a4789de3dae88ec96636/pics/sns/anony_home/ic_shijian_home_nav.png) 2x;
}
#anony-nav h1 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 160px;
    height: 34px;
    margin: 0 20px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    background: url(https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) no-repeat 0 0;
    background-image: -webkit-image-set(url(https://img3.doubanio.com/f/sns/19886d443852bee48de2ed91f4a3bdfdaf8c809c/pics/nav/logo_db.png) 1x, url(https://img3.doubanio.com/f/sns/0f9e2dbca60b52f595ddbc02073cb4bb879ed1c9/pics/nav/logo_db@2x.png) 2x);
    
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
h1{
    word-wrap: break-word;
    display: block;
    font-style: 25px;
    font-weight: bold;
    color: #494949;
    line-height: 1.1;
}
#anony-nav .anony-srh{
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
    width: 270px;
    height: 30px;
    border: 1px solid #c3c3c3;
}
form{
    margin: 0;
    padding: 0;
    border: 0px;
    display: block;

}

#anony-nav .anony-srh .inp{
    display: block;
    height: 30px;
    overflow: hidden;
}
#anony-nav .anony-srh .inp input{
    width: 240px;
    border: none;
    font-size: 13px;
    height: 20px;
    padding: 5px;
}
#anony-nav .anony-srh .bn {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    background: url(https://img3.doubanio.com/f/sns/f71f15922ebd7c0ff0ea0e7a25577529efd8981a/pics/icon/bn_srh_1.png) 50% 50% no-repeat;
}
#anony-nav .anony-srh .bn input {
    border: none;
    background: transparent;
    *padding-left: 30px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}
#anony-reg-new .wrapper {
    position: relative;
    padding: 0 0 4px;
    overflow: visible;
    zoom: 1;
}
.wrapper {
    width: 950px;
    margin: 0 auto;
}
#anony-reg-new .wrapper .login{
    position: relative;
    z-index: 2;
    width: 300px;
    float: right;
    font-size: 0;
    letter-spacing: -.31em;
    margin: 0;
    padding: 0;
}
#anony-reg-new .wrapper:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: 0 -150px;
}
#anony-reg-new .wrapper:after {
    content: "\0020";
    display: block;
    clear: both;
}
#anony-reg-new .app {
    position: absolute;
    height: 120px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 475px;
    *margin-top: 20px;
} 
#anony-reg-new {
    margin-bottom: 25px;
    background-size: contain;
    background-position: -webkit-calc(50% - 305px) top;
    background-position: calc(50% - 305px) top;
    background-repeat: no-repeat;
    background-color: #edf4ed;
}
/* #anony-reg-new .app {
    z-index: 2;
    position: absolute;
    height: 120px;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 475px;
    *margin-top: 20px;
} */
#anony-reg-new .app-title {
    margin: 7px 0;
    font-size: 25px;
    color: #111;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
#anony-reg-new .app-slogan {
    margin: 0 0 18px;
    font-size: 0;
    color: #111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}
#anony-reg-new .lnk-app:link, #anony-reg-new .lnk-app:visited, #anony-reg-new .lnk-app:hover, #anony-reg-new .lnk-app:active {
    background: #00B51D;
    color: #FFF;
}
#anony-reg-new .lnk-app {
    display: inline-block;
    *display: inline;
    zoom: 1;
    padding: 9px 21px;
    margin-right: 2px;
    vertical-align: top;
    border-radius: 2px;
    font-size: 12px;
    background: #00B51D;
    color: #FFF;
    line-height: 1;
}

#anony-reg-new .app-qr {
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
}
#anony-reg-new .lnk-qr {
    display: inline-block;
    zoom: 1;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(72, 170, 13);
    border-image: initial;
    border-radius: 2px;
}
#anony-reg-new .lnk-qr:link, #anony-reg-new .lnk-qr:visited, #anony-reg-new .lnk-qr:hover, #anony-reg-new .lnk-qr:active {
    background: transparent;
}
.app-qr-expand img ,.app-qr-expand p{
    display: none;
}
a img {
    border-width: 0;
    vertical-align: middle;
}