.wait{
    position: relative;
    width: 10rem;
    height: 1.88rem;
    margin-top: 0.05rem;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img_box{
    position: relative;

}
.img_box img{
    width: 1rem;
    height: 1rem;
}